
:root {
    --sans-font: -apple-system, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
    --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;            
}

html {
    font-family: var(--sans-font);
    scroll-behaviour: smooth;
}

body {
    color: #dcdcdc;
    background: #212121;
    margin-left: 30px;
    margin-right: 30px;
    width: min(70em, 90%);
}


code, pre {
    font-family: var(--mono-font);
    color: #d4d3d1;
}

pre {
    background-color: #3c3836;
}

a, a:visited {
    color: #0d47a1;
}

a:hover {
    text-decoration: none;
}
